#player{
  position: absolute;
	width: 75px;
	height: 100px;
	background-color: transparent;
	left: 200px;
	top: 400px;
}
#enemy{
  position: absolute;
	width: 100px;
	height: 100px;
	background-color: transparent;
	left: 200px;
	top: 0;
	margin-top: 15px;
}
#projectile{
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #ff8c1a;
	margin-left: 15px;
