html {
  font-family: 'Share Tech Mono'
}
body {
    background-image: url("http://www.brandongamer.com/archives/destiny/director/DTG_PlanetDetailPage_earth.jpg");
    background-repeat: no-repeat;
  position:fixed;
}

header {
  /*Make your header stick to the top of the page*/
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
}

#StoryBox {
  color: white;
  opacity: 0.4;
  text-align: center;
}
h1 {
    text-align: center;
    color: black;
}
#start {
  text-align: center;
}

button#startbutton {
  font-size: 4em;
  transition: all 0.4s;
}

button#startbutton:hover {
  color: red;
  cursor: pointer;
}

.planet {
  color: white;
  background-color: #3366FF;
  width: 250px;
  height: 180px;
  opacity: 0;
  text-align: center;
  float: left;
  margin: 20px;
}

#enemy{
  width:100px;
  height:100px;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
}
#game {
  opacity: 0;
}

#eHealth{
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  background-color: red;
}